// Variáveis de Cores
$primary-color: #182C61;
$secondary-color: #f5f6fa;
$light-text-color: #fff;
$button-color: #44bd32;
$button-hover-color: #4cd137;

// Variáveis de Fonte
$main-font: Roboto, sans-serif;